@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Phiếu nhập cấp phát
    </b>
}

<div class="alert alert-danger" style="width:415px">
    Số lượng nhập không hợp lệ, thêm phiếu thất bại.
</div>
<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
