@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Phiếu xuất trả lại
    </b>
}

<div class="alert alert-danger" style="width:488px">
    Bạn cần thêm số lượng trả lại trước khi thêm phiếu xuất trả lại!
</div>

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
