@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Phiếu xuất trả lại
    </b>
}
<div class="alert alert-success" style="width:350px">
    Bạn vừa thêm phiếu trả lại thành công.
</div>

<div>
    @Html.ActionLink("Quay lại phiếu xuất trả lại", "Index")
</div>
