@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Thêm phiếu tiêm mới
    </b>
}
<div class="alert alert-danger" style="width:345px">
    Đã tồn tại phiếu tiêm với số căn cước này! Thêm mới thất bại.
</div>

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
