@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Cấp phát vắc xin/Vật tư
        </b>
}
<div class="alert alert-success" style="width:345px">
    Bạn vừa thêm phiếu xuất thành công.
</div>

<div>
    @Html.ActionLink("Quay lại phiếu xuất", "Index")
</div>
