@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <title>Thông báo đăng ký tiêm</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
        }

        .message {
            background-color: #ffffff;
            border: 1px solid #cccccc;
            border-radius: 5px;
            padding: 20px;
            margin: 0 auto;
            max-width: 400px;
        }
    </style>
</head>
<body>
    <div class="message" style="margin-top:100px;">
        <h2>Bạn đã đăng ký tiêm trong trạng thái chờ duyệt.</h2>
        <p>Nếu có thắc mắc, vui lòng liên hệ <u>0963608201</u></p>
    </div>
</body>
</html>
