@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Phiếu dự trù vaccine
    </b>
}

<div class="alert alert-danger" style="width:428px">
    Bạn cần thêm số lượng trước khi thêm phiếu dự trù !
</div>

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
