@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Nhập từ nhà cung cấp
    </b>
}

<div class="alert alert-danger" style="width:428px">
    Ngày sản xuất hoặc HSD không hợp lệ !
</div>

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
