@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Nhập từ nhà cung cấp
}
<div class="alert alert-success">
    Bạn vừa thêm phiếu nhập thành công.
</div>

@*<div>
    @Html.ActionLink("Quay lại phiếu nhập", "Areas/Admin/Views/Index")
</div>*@
