@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    <b class="panel-heading" style="color:black; font-size:x-large">
        Quản lý người dùng
    </b>
}

<div class="alert alert-danger" style="width:408px">
    Tên tài khoản đã tồn tại !
</div>

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
