@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Lỗi không có quyền
}
<div class="alert alert-danger" style="width:345px">
    Bạn không có quyền truy cập.
</div>

